{% extends 'base.html.twig' %}

{% block body %}


    <h1>Bienvenue chez SushiShop</h1>

    <p>Cette application vous permettra d’avoir accès au classement des livreurs de Sushishop. Ce classement donnera lieu à l’affiliation de statut. Ces statuts s’obtiennent grâce à des critères bien précis :</p>

    <p><strong>Nombres de livraisons/soir</strong></p>
    <p>Le livreur qui effectuera le plus de livraison par soir sera l’employé <strong>le plus efficace</strong>.</p>

    <p><strong>Temps de livraisons moyens </strong></p>
    <p>Le livreur qui obtiendra le temps de livraison moyen le plus court sera <strong>l’employé le plus rapide</strong>.</p>

    <p><strong>Absences</strong></p>
    <p>Le livreur qui aura le taux d’absentéisme moyen le moins élevé sera l’employé <strong>le plus ponctuel</strong>.</p>

    <p><strong>Etat des commandes</strong></p>
    <p>Le livreur qui aura la meilleure des moyennes sur l’état de ses commandes sera <strong>le livreur le plus soigneux</strong>.</p>


    <p>Sur cette application vous aurez donc accès au classement général, des livreurs de Sushishop, à une page Administration qui elle permettra aux personnes avec des droits privilégiés de créer de nouveaux profils de livreur, puis de rentrer les données de chacun pour qu’elles puissent par la suite être comparées avec celles des autres livreurs. Grâce à cette comparaison le classement pourra s’effectuer automatiquement, et les statuts seront affiliés.</p>





{% endblock %}

